"*":
  "exception-reporting":
    userId: "caaf8efb-9aa4-50f2-deae-8d6e7d8ee26c"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "92ab386e3811a2d9a3a2f8bb17a70c5dfd7af69e"
  editor:
    softWrap: true
    invisibles: {}
    fontFamily: "Hack"
    fontSize: 13
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    disabledPackages: [
      "wrap-guide"
      "markdown-stream"
    ]
  "markdown-stream":
    externalWebBrowserPort: 8000
    markedSettings:
      gfm: true
      breaks: true
      tables: true
      pedantic: true
      sanitize: false
      smartLists: false
      smartypants: true
      langPrefix: "lang-"
    newlinesAsIsMode: false
  "tree-view":
    hideVcsIgnoredFiles: true
".python.source":
  editor:
    tabLength: 4
