"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "markdown-stream"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "caaf8efb-9aa4-50f2-deae-8d6e7d8ee26c"
  "markdown-stream":
    externalWebBrowserPort: 8000
    markedSettings:
      breaks: true
      gfm: true
      langPrefix: "lang-"
      pedantic: true
      sanitize: false
      smartLists: false
      smartypants: true
      tables: true
    newlinesAsIsMode: false
  metrics:
    userId: "92ab386e3811a2d9a3a2f8bb17a70c5dfd7af69e"
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    tabLength: 4
